<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= user.mail %>
  </p>

  <p>
    <strong>Send due date reminder:</strong>
    <%= user.send_due_date_reminder %>
  </p>

  <p>
    <strong>Due date reminder interval:</strong>
    <%= user.due_date_reminder_interval %>
  </p>

  <p>
    <strong>Due date reminder time:</strong>
    <%= user.due_date_reminder_time %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= user.time_zone %>
  </p>

</div>
