<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Assignee:</strong>
    <%= ticket.project_member_name.capitalize %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= ticket.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status_id %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= ticket.progress %>
  </p>

</div>
